.login-bg-container {
  background-image: linear-gradient(
    to top,
    #f96f74 0%,
    #fecfef70 99%,
    #f1a7da70 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 40%;
  min-width: 300px;
  border-radius: 8px;
}
