.login-signup-btn,
.add-expense-btn,
.profile-changes-btn {
  font-weight: 600;
  padding: 0 10px;
  min-width: 100px;
  height: 34px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
}

.login-signup-btn,
.add-expense-btn {
  font-size: 18px;
  margin-top: 10px;
}

.profile-changes-btn {
  background: greenyellow;
  font-size: 14px;
  align-self: flex-end;
  margin: 0 40px 10px 0;
}
