.signup-bg-container,
.login-bg-container {
  background: #fec6b260;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 40%;
  min-width: 300px;
  border-radius: 8px;
}

.title {
  font-size: 34px;
}

.signup-form-container,
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 10px 0;
  padding: 10px;
  width: 90%;
  min-height: 100px;
}

.navigate-text {
  font-size: 14px;
  text-decoration: none;
}
