
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #019ace;
  --white: #ffffff;
  --black: #3c3935;
}

.App {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
