* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #9ce3fa;
  --white: #f9f5f5;
  --black: #3c3935;
}

.App {
  background-image: linear-gradient(
    45deg,
    #ff9a9e70 0%,
    #fad0c470 99%,
    #fad0c470 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
